# Copy to .env and adjust for your environment.
DATABASE_URL="postgresql://sonic:sonic@localhost:5432/sonic_os?schema=public"
SESSION_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
NEXT_PUBLIC_USE_API="true"
NODE_ENV="development"
